$background: #fafaf9;
$font-color:#292524;
$font-color-light:#57534E;
$background-light:#F5F5F4;
$background-medium:#FFFFFF;

.background-light{
    background-color: $background-light;
}
.background-medium{
    background-color: $background-medium;
}