@use "../variables/colors.scss" as *;

$logo: serif;
$font: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$font-size-headline: 3rem;
$font-size-medium-headline: 1.875rem;
$font-size-small-headline: 1.5rem;
$font-size-label: 1rem;

.text-content {
  width: 180%;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.font-medium {
  font-weight: 500;
  font-size: inherit;
  color: $font-color-light;
  margin-bottom: 0.5rem;
}

.font-medium-dark {
  font-weight: 500;
  font-size: inherit;
  color: $font-color;
  margin-bottom: 0.5rem;
}

.headline {
  color: $font-color;
  font-size: $font-size-headline;
  line-height: 1;
  font-family: $font;
  margin: 0px px 24px;
  margin-bottom: 1.5rem;
  font-weight: inherit;
}
.headline--center {
  text-align: center;
}

.medium-headline {
  color: $font-color;
  font-size: $font-size-medium-headline;
  font-family: $font;
  font-weight: inherit;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
}
.medium-headline--center {
  text-align: center;
}

.small-headline {
  color: $font-color;
  font-size: $font-size-small-headline;
  margin-bottom: 1.5rem;
  line-height: 2rem;
}
.small-headline--center {
  text-align: center;
  font-family: $font;
}

.description {
  color: $font-color;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}
.description--center {
  text-align: center;
  color: $font-color-light;
}

.small-description {
  color: $font-color-light;
  margin-bottom: 1rem;
}

.small-description--center {
  text-align: center;
}

.footer-description {
  font-size: 1rem;
  color: $font;
  font-family: $font;
  margin-bottom: 1rem;
  font-weight: inherit;
}
.footer-other-desc {
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: $font;
}
.AboutPage-photoText {
  font-style: italic;
  color: $font-color-light;
}

.small-headline-question {
  color: $font-color;
  font-size: $font-size-small-headline;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}
.backHome-shopCard {
  color: $font-color;
  font-size: $font-size-small-headline;
  font-family: $font;

}
.backHome-shopCard--center{
    text-align: center;
  justify-content: center;
}